<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style_1.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link active" href="/">
              <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/">Home</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us">
              <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/about_us">About Us</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/dashboard">Dashboard</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/df_profile">
                <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/df_profile">Data Profile</button>
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="resources">
                <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/resources">Resources</button>
              </a>
            </li> 
            </nav>
                                    
<br>
    <div class="col-md-15 jumbotron text-center">
    <h1>We are Data Deviants</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-15 jumbotron text-center">
    <h1>About Us</h1>
    <p>We are the Data Deviants, a team of data enthusiasts who love to explore, analyze, and visualize data. We believe that data is useful to unlocking insights and solving problems. We are passionate about turning data into actionable intelligence.
    <br>
    <br>
    <br>
    Our Story<br>
        We started as a group of students who met at a data science bootcamp in March 2023. We were assigned as a team for a project, but completed that project as a group of friends.
    <br>
    <br>
    Our Vision<br>
        Our collective vision is to become well-versed and fluent in a variety of data services. We hope to harness the power of data to influence data-driven decisions that improve the quality of life and the world at large, perhaps even catalyzing world peace.
    <br>
    <br>
    Our Mission<br>
    Our mission is to successfully deploy our customized and interactive web app.
    <br>
    <br>
    Our Work<br>
        We are proud of the work we have done across various class activities and homework assignments, in domains such as:
        Crowdfunding
        Healthcare
        Human Resources
        Education
        Finance
        Travel
        You can see some of our projects on our GitHub pages.
    <br>
    <br>
    Contact Us<br>
        If you are interested in working with us or have any questions, please feel free to Slack us.</p>
          
</div>
</body>
<body>
  <section class="container">
    <div class="card">
      <div class="card-image car-1"></div>
      <h2>Abi Chambers</h2>
      <p>Abagail Chambers has a versatile data science skillset, primarily due to her experience and success in Southern Methodist University's Data Science Bootcamp program. She is a motivated problem solver and enjoys a challenge. Her genuine curiosity and dedication to continuously learning about new tools and trends in data analysis and presentation make her a valuable member of the team.</p>
    </div>  
    <div class="card">
      <div class="card-image car-2"></div>
      <h2>Van Eisele</h2>
      <p>Van began his data journey as a director at the Dallas Arboretum as a director of the shared service department. This position exposed him  to data sciecne and presenting information with actionable insights.
        Van has honed skills in data by attending a certification program at SMU where he took a deeper dive into programming and data visualizations.</p>
    </div>  
    <div class="card">
      <div class="card-image car-3"></div>
      <h2>Carlos De La Rosa</h2>
      <p>Carlos De La Rosa is a passionate and driven individual with a strong interest in data science. He has honed his skills in various essential tools and technologies for data analysis and manipulation. With his diverse skillset and eagerness to learn, Carlos is poised to excel in the ever-evolving field of data science.</p>
    </div>  
    </section>
</body>

</html>


