<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body text="black">
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link active" href="/">
              <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/">Home</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us">
              <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/about_us">AboutUs</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/dashboard">Dashboard</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/df_profile">
                <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/df_profile">Explain_data</button>
              </a>
            </li>  
                              
<br>
    <div class="col-md-15 jumbotron text-center">
    <h1>We are Data Deviants</h1>
    <!-- <a href="/about_us">About Us</a> -->
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-15 jumbotron text-center">
    <h1>About Us</h1>
    <p>We are the Data Deviants, a team of data enthusiasts who love to explore, analyze, and visualize data. We believe that data is useful to unlocking insights and solving problems. We are passionate about turning data into actionable intelligence.
    <br>
    <br>
    <br>
    Our Story<br>
        We started as a group of students who met at a data science bootcamp in March 2023. We were assigned as a team for a project, but completed that project as a group of friends.
    <br>
    <br>
    Our Vision<br>
        Our collective vision is to become well-versed and fluent in a variety of data services. We hope to harness the power of data to influence data-driven decisions that improve the quality of life and the world at large, perhaps even catalyzing world peace.
    <br>
    <br>
    Our Mission<br>
    Our mission is to successfully deploy our customized and interactive web app.
    <br>
    <br>
    Our Work<br>
        We are proud of the work we have done across various class activities and homework assignments, in domains such as:
        Crowdfunding
        Healthcare
        Human Resources
        Education
        Finance
        Travel
        You can see some of our projects on our GitHub pages.
    <br>
    <br>
    Contact Us<br>
        If you are interested in working with us or have any questions, please feel free to Slack us.</p>
</div>
</body>

</html>


