<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <!-- backgroundimage -->
    <link rel="stylesheet" href="static/css/image.css">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>
<body>
        
    <div class="container-fluid">
        <div class="row">
    <div class="col-md-15 jumbotron text-center">
      <h1>Anthony Bourdain Show Dashboard</h1>
      <p>Use the interactive dashboard below to explore the dataset</p>
          </div>
        </div>
    <a href="/about_us">
      <button type="button" class="btn btn-outline-light" fdprocessedid="qhzix" href="/about_us">About Us</button>
    </a>
    <br>
    <a href="/dashboard">
      <button type="button" class="btn btn-outline-light" fdprocessedid="qhzix" href="/dashboard">Dashboard</button>
    </a>
    <br> 
    <a href="/df_profile">
      <button type="button" class="btn btn-outline-light" fdprocessedid="qhzix" href="/df_profile">Data_Profile</button>
    </a>

  </body>


</html>


