<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Works Cited Page</title>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="static/css/style_1.css">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  

</head>

<body>


        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">
                      <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/">Home</button>
                    

                    </a>
        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us">
          <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/about_us">About Us</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/dashboard">Dashboard</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/df_profile">
            <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/df_profile">Data Profile</button>
          </a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/resources">
            <button type="button" class="btn btn-outline-dark" fdprocessedid="e12od" href="/resources">Resources</button>
          </a>
        </li>
      </nav>
</body>
  <br>
  <br>
  <br>
  <h1 class="centered", style="font-size:50px;">Work cited page</h1>
</body>
      
        <main>
        
        <div class="container">  
        <ul>
          <li style="font-size:30px;">
                JavaScript tutorial. (n.d.). https://www.w3schools.com/js/DEFAULT.asp 
          </li>
          <br>
          <br>
          <br>
          <li style="font-size:30px;">
                    Ydataai. (n.d.-b). Ydataai/YDATA-profiling: 1 line of Code Data Quality Profiling & exploratory data analysis for Pandas and Spark DataFrames. GitHub. https://github.com/ydataai/ydata-profiling 
          </li>
          <br>
          <br>
          <br>
          <li style="font-size:30px;">
                Online code beautifier for JavaScript, JSON, HTML, CSS and PHP. Digital Inspiration. (n.d.). https://www.labnol.org/beautifier/ 
          </li>
          <br>
          <br>
          <br>
          <li style="font-size:30px;">
                Free themes for Bootstrap. Bootswatch. (n.d.). https://bootswatch.com/ 
          </li>
          <br>
          <br>
          <br>
          <li style="font-size:30px;">
            https://www.kaggle.com/datasets/michaelbryantds/anthony-bourdain-episode-locations?resource=download
      </li>
              <!-- Add more citations as needed -->
          </ul>
        
        </main>

        
        </div>

  </body>


</html>


